## Wooldridge Introductory Economics

https://cran.r-project.org/web/packages/wooldridge/vignettes/Introductory-Econometrics-Examples.html

https://rdrr.io/cran/wooldridge/f/inst/doc/Introductory-Econometrics-Examples.Rmd

In [1]:
install.packages("pacman")

Installing package into ‘/home/jupyter/R/x86_64-pc-linux-gnu-library/3.5’
(as ‘lib’ is unspecified)
also installing the dependency ‘remotes’

In [11]:
pacman::p_load(wooldridge,stargazer,tidyverse)

In [8]:
data("wage1")

?wage1

In [9]:
 str(wage1)

'data.frame':	526 obs. of  24 variables:
 $ wage    : num  3.1 3.24 3 6 5.3 ...
 $ educ    : int  11 12 11 8 12 16 18 12 12 17 ...
 $ exper   : int  2 22 2 44 7 9 15 5 26 22 ...
 $ tenure  : int  0 2 0 28 2 8 7 3 4 21 ...
 $ nonwhite: int  0 0 0 0 0 0 0 0 0 0 ...
 $ female  : int  1 1 0 0 0 0 0 1 1 0 ...
 $ married : int  0 1 0 1 1 1 0 0 0 1 ...
 $ numdep  : int  2 3 2 0 1 0 0 0 2 0 ...
 $ smsa    : int  1 1 0 1 0 1 1 1 1 1 ...
 $ northcen: int  0 0 0 0 0 0 0 0 0 0 ...
 $ south   : int  0 0 0 0 0 0 0 0 0 0 ...
 $ west    : int  1 1 1 1 1 1 1 1 1 1 ...
 $ construc: int  0 0 0 0 0 0 0 0 0 0 ...
 $ ndurman : int  0 0 0 0 0 0 0 0 0 0 ...
 $ trcommpu: int  0 0 0 0 0 0 0 0 0 0 ...
 $ trade   : int  0 0 1 0 0 0 1 0 1 0 ...
 $ services: int  0 1 0 0 0 0 0 0 0 0 ...
 $ profserv: int  0 0 0 0 0 1 0 0 0 0 ...
 $ profocc : int  0 0 0 0 0 1 1 1 1 1 ...
 $ clerocc : int  0 0 0 1 0 0 0 0 0 0 ...
 $ servocc : int  0 1 0 0 0 0 0 0 0 0 ...
 $ lwage   : num  1.13 1.18 1.1 1.79 1.67 ...
 $ expersq : int  4 484 4 1936 49 81 225 25 676 484 ...
 $ tenursq : int  0 4 0 784 4 64 49 9 16 441 ...
 - attr(*, "time.stamp")= chr "25 Jun 2011 23:03"

In [10]:
head(wage1)

  wage educ exper tenure nonwhite female married numdep smsa northcen ⋯
1 3.10 11    2     0     0        1      0       2      1    0        ⋯
2 3.24 12   22     2     0        1      1       3      1    0        ⋯
3 3.00 11    2     0     0        0      0       2      0    0        ⋯
4 6.00  8   44    28     0        0      1       0      1    0        ⋯
5 5.30 12    7     2     0        0      1       1      0    0        ⋯
6 8.75 16    9     8     0        0      1       0      1    0        ⋯
  trcommpu trade services profserv profocc clerocc servocc lwage    expersq
1 0        0     0        0        0       0       0       1.131402    4
2 0        0     1        0        0       0       1       1.175573  484
3 0        1     0        0        0       0       0       1.098612    4
4 0        0     0        0        0       1       0       1.791759 1936
5 0        0     0        0        0       0       0       1.667707   49
6 0        0     0        1        1       0       0       2.169054   81
  tenursq
1   0
2   4
3   0
4 784
5   4
6  64

In [12]:
glimpse(wage1)

Observations: 526
Variables: 24
$ wage     <dbl> 3.10, 3.24, 3.00, 6.00, 5.30, 8.75, 11.25, 5.00, 3.60, 18....
$ educ     <int> 11, 12, 11, 8, 12, 16, 18, 12, 12, 17, 16, 13, 12, 12, 12,...
$ exper    <int> 2, 22, 2, 44, 7, 9, 15, 5, 26, 22, 8, 3, 15, 18, 31, 14, 1...
$ tenure   <int> 0, 2, 0, 28, 2, 8, 7, 3, 4, 21, 2, 0, 0, 3, 15, 0, 0, 10, ...
$ nonwhite <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
$ female   <int> 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1...
$ married  <int> 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1...
$ numdep   <int> 2, 3, 2, 0, 1, 0, 0, 0, 2, 0, 0, 0, 2, 0, 1, 1, 0, 0, 3, 0...
$ smsa     <int> 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1...
$ northcen <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
$ south    <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
$ west     <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1...
$ construc <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
$ ndurman  <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
$ trcommpu <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
$ trade    <int> 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0...
$ services <int> 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
$ profserv <int> 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1...
$ profocc  <int> 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0...
$ clerocc  <int> 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0...
$ servocc  <int> 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1...
$ lwage    <dbl> 1.1314021, 1.1755733, 1.0986123, 1.7917595, 1.6677068, 2.1...
$ expersq  <int> 4, 484, 4, 1936, 49, 81, 225, 25, 676, 484, 64, 9, 225, 32...
$ tenursq  <int> 0, 4, 0, 784, 4, 64, 49, 9, 16, 441, 4, 0, 0, 9, 225, 0, 0...

Effects of Inflation and Deficits on Interest Rates

In [14]:
data("intdef")
?intdef

In [15]:
str(intdef)

'data.frame':	56 obs. of  13 variables:
 $ year : int  1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 ...
 $ i3   : num  1.04 1.1 1.22 1.55 1.77 ...
 $ inf  : num  8.1 -1.2 1.3 7.9 1.9 ...
 $ rec  : num  16.2 14.5 14.4 16.1 19 ...
 $ out  : num  11.6 14.3 15.6 14.2 19.4 ...
 $ def  : num  -4.6 -0.2 1.2 -1.9 0.4 ...
 $ i3_1 : num  NA 1.04 1.1 1.22 1.55 ...
 $ inf_1: num  NA 8.1 -1.2 1.3 7.9 ...
 $ def_1: num  NA -4.6 -0.2 1.2 -1.9 ...
 $ ci3  : num  NA 0.06 0.12 0.33 0.22 ...
 $ cinf : num  NA -9.3 2.5 6.6 -6 ...
 $ cdef : num  NA 4.4 1.4 -3.1 2.3 ...
 $ y77  : int  0 0 0 0 0 0 0 0 0 0 ...
 - attr(*, "time.stamp")= chr "25 Jun 2011 23:03"

In [16]:
head((intdef))

  year i3   inf  rec  out  def        i3_1 inf_1 def_1      ci3        cinf
1 1948 1.04  8.1 16.2 11.6 -4.6000004   NA   NA          NA         NA   NA
2 1949 1.10 -1.2 14.5 14.3 -0.1999998 1.04  8.1  -4.6000004 0.06000006 -9.3
3 1950 1.22  1.3 14.4 15.6  1.2000008 1.10 -1.2  -0.1999998 0.12000000  2.5
4 1951 1.55  7.9 16.1 14.2 -1.9000006 1.22  1.3   1.2000008 0.32999992  6.6
5 1952 1.77  1.9 19.0 19.4  0.3999996 1.55  7.9  -1.9000006 0.22000003 -6.0
6 1953 1.93  0.8 18.7 20.4  1.6999989 1.77  1.9   0.3999996 0.15999997 -1.1
  cdef      y77
1        NA 0
2  4.400001 0
3  1.400001 0
4 -3.100001 0
5  2.300000 0
6  1.299999 0

In [17]:
glimpse((intdef))

Observations: 56
Variables: 13
$ year  <int> 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1...
$ i3    <dbl> 1.04, 1.10, 1.22, 1.55, 1.77, 1.93, 0.95, 1.75, 2.66, 3.27, 1...
$ inf   <dbl> 8.1, -1.2, 1.3, 7.9, 1.9, 0.8, 0.7, -0.4, 1.5, 3.3, 2.8, 0.7,...
$ rec   <dbl> 16.2, 14.5, 14.4, 16.1, 19.0, 18.7, 18.5, 16.5, 17.5, 17.7, 1...
$ out   <dbl> 11.6, 14.3, 15.6, 14.2, 19.4, 20.4, 18.8, 17.3, 16.5, 17.0, 1...
$ def   <dbl> -4.6000004, -0.1999998, 1.2000008, -1.9000006, 0.3999996, 1.6...
$ i3_1  <dbl> NA, 1.04, 1.10, 1.22, 1.55, 1.77, 1.93, 0.95, 1.75, 2.66, 3.2...
$ inf_1 <dbl> NA, 8.1, -1.2, 1.3, 7.9, 1.9, 0.8, 0.7, -0.4, 1.5, 3.3, 2.8, ...
$ def_1 <dbl> NA, -4.6000004, -0.1999998, 1.2000008, -1.9000006, 0.3999996,...
$ ci3   <dbl> NA, 0.06000006, 0.12000000, 0.32999992, 0.22000003, 0.1599999...
$ cinf  <dbl> NA, -9.3000002, 2.5000000, 6.6000004, -6.0000000, -1.0999999,...
$ cdef  <dbl> NA, 4.40000057, 1.40000057, -3.10000134, 2.30000019, 1.299999...
$ y77   <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...

## Chapter 13: Pooling Cross Sections across Time: Simple Panel Data Methods
### Example 13.7: Effect of Drunk Driving Laws on Traffic Fatalities
Wooldridge collected these data from two sources, the 1992 Statistical Abstract of the United States (Tables 1009, 1012) and A Digest of State Alcohol-Highway Safety Related Legislation, 1985 and 1990, published by the U.S. National Highway Traffic Safety Administration.

In [18]:
data("traffic1")
?traffic1

In [19]:
str(traffic1)

'data.frame':	51 obs. of  13 variables:
 $ state   : chr  "AL" "AK" "AZ" "AR" ...
 $ admn90  : int  0 1 1 0 1 1 1 1 1 1 ...
 $ admn85  : int  0 1 0 0 0 1 0 1 1 0 ...
 $ open90  : int  0 1 0 0 1 0 0 0 0 1 ...
 $ open85  : int  0 0 0 0 1 0 0 0 0 0 ...
 $ dthrte90: num  2.6 2.1 2.5 2.9 2 ...
 $ dthrte85: num  2.9 3.2 4.4 3.4 2.6 ...
 $ speed90 : int  1 0 1 1 1 1 0 0 0 1 ...
 $ speed85 : int  0 0 0 0 0 0 0 0 0 0 ...
 $ cdthrte : num  -0.3 -1.1 -1.9 -0.5 -0.6 ...
 $ cadmn   : int  0 0 1 0 1 0 1 0 0 1 ...
 $ copen   : int  0 1 0 0 0 0 0 0 0 1 ...
 $ cspeed  : int  1 0 1 1 1 1 0 0 0 1 ...
 - attr(*, "time.stamp")= chr "25 Jun 2011 23:03"

In [ ]:
head((traffic1))

In [20]:
glimpse((traffic1))

Observations: 51
Variables: 13
$ state    <chr> "AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "DC", "FL"...
$ admn90   <int> 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1...
$ admn85   <int> 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1...
$ open90   <int> 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0...
$ open85   <int> 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0...
$ dthrte90 <dbl> 2.6, 2.1, 2.5, 2.9, 2.0, 1.9, 1.5, 2.2, 1.6, 2.7, 2.0, 2.3...
$ dthrte85 <dbl> 2.9, 3.2, 4.4, 3.4, 2.6, 2.4, 2.0, 2.2, 3.0, 3.4, 2.7, 2.0...
$ speed90  <int> 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1...
$ speed85  <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
$ cdthrte  <dbl> -0.3000002, -1.1000001, -1.9000001, -0.5000000, -0.5999999...
$ cadmn    <int> 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0...
$ copen    <int> 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
$ cspeed   <int> 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1...

In [3]:
data("jtrain")

In [4]:
?jtrain

In [5]:
 str(jtrain)

'data.frame':	471 obs. of  30 variables:
 $ year    : int  1987 1988 1989 1987 1988 1989 1987 1988 1989 1987 ...
 $ fcode   : num  410032 410032 410032 410440 410440 ...
 $ employ  : int  100 131 123 12 13 14 20 25 24 200 ...
 $ sales   : num  47000000 43000000 49000000 1560000 1970000 ...
 $ avgsal  : num  35000 37000 39000 10500 11000 ...
 $ scrap   : num  NA NA NA NA NA NA NA NA NA NA ...
 $ rework  : num  NA NA NA NA NA NA NA NA NA NA ...
 $ tothrs  : int  12 8 8 12 12 10 50 50 50 0 ...
 $ union   : int  0 0 0 0 0 0 0 0 0 0 ...
 $ grant   : int  0 0 0 0 0 0 0 0 0 0 ...
 $ d89     : int  0 0 1 0 0 1 0 0 1 0 ...
 $ d88     : int  0 1 0 0 1 0 0 1 0 0 ...
 $ totrain : int  100 50 50 12 13 14 15 10 20 0 ...
 $ hrsemp  : num  12 3.05 3.25 12 12 ...
 $ lscrap  : num  NA NA NA NA NA NA NA NA NA NA ...
 $ lemploy : num  4.61 4.88 4.81 2.48 2.56 ...
 $ lsales  : num  17.7 17.6 17.7 14.3 14.5 ...
 $ lrework : num  NA NA NA NA NA NA NA NA NA NA ...
 $ lhrsemp : num  2.56 1.4 1.45 2.56 2.56 ...
 $ lscrap_1: num  NA NA NA NA NA NA NA NA NA NA ...
 $ grant_1 : int  0 0 0 0 0 0 0 0 0 0 ...
 $ clscrap : num  NA NA NA NA NA NA NA NA NA NA ...
 $ cgrant  : int  0 0 0 0 0 0 0 0 0 0 ...
 $ clemploy: num  NA 0.27 -0.063 NA 0.08 ...
 $ clsales : num  NA -0.0889 0.1306 NA 0.2333 ...
 $ lavgsal : num  10.46 10.52 10.57 9.26 9.31 ...
 $ clavgsal: num  NA 0.0556 0.0526 NA 0.0465 ...
 $ cgrant_1: int  NA 0 0 NA 0 0 NA 0 0 NA ...
 $ chrsemp : num  NA -8.947 0.199 NA 0 ...
 $ clhrsemp: num  NA -1.1654 0.0478 NA 0 ...
 - attr(*, "time.stamp")= chr "25 Jun 2011 23:03"

In [6]:
head( jtrain)

  year fcode  employ sales    avgsal scrap rework tothrs union grant ⋯ grant_1
1 1987 410032 100    47000000 35000  NA    NA     12     0     0     ⋯ 0
2 1988 410032 131    43000000 37000  NA    NA      8     0     0     ⋯ 0
3 1989 410032 123    49000000 39000  NA    NA      8     0     0     ⋯ 0
4 1987 410440  12     1560000 10500  NA    NA     12     0     0     ⋯ 0
5 1988 410440  13     1970000 11000  NA    NA     12     0     0     ⋯ 0
6 1989 410440  14     2350000 11500  NA    NA     10     0     0     ⋯ 0
  clscrap cgrant clemploy    clsales    lavgsal   clavgsal   cgrant_1
1 NA      0               NA         NA 10.463103         NA NA
2 NA      0       0.27002716 -0.0889492 10.518673 0.05556965  0
3 NA      0      -0.06301308  0.1306210 10.571317 0.05264378  0
4 NA      0               NA         NA  9.259130         NA NA
5 NA      0       0.08004260  0.2333469  9.305651 0.04652023  0
6 NA      0       0.07410812  0.1763821  9.350102 0.04445171  0
  chrsemp    clhrsemp
1         NA          NA
2 -8.9465647 -1.16538453
3  0.1985974  0.04783237
4         NA          NA
5  0.0000000  0.00000000
6 -2.0000000 -0.16705394

In [ ]:
linear_model <- lm(lscrap ~ hrsemp + lsales + lemploy, data = jtrain_clean)